*{margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{
  background-color: rgba(255, 213, 149, 0.685);
  
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
 
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Ubuntu', sans-serif;
  background: rgb(240, 143, 17);
  
  
  
}
.logo img{ 
 width: auto;
 height: 8vh;
 position: absolute;
 left:0px;
 
 top: 0px;
 z-index: 999;
}
.nav-links{
  display: flex;
  background-color:rgb(240, 143, 17);
  justify-content: space-around;
  width: 35%;
  
  z-index: 999;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color:white;
  text-decoration: none;
  letter-spacing: 6px;
  font-weight: 900;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background-color:rgb(145, 98, 37);
}
/* dropdownmenu1*/
.nav-links .dropmenu {
  position: absolute;
  background: rgb(240, 143, 17);;
  width: 180px;
  line-height: 45px;

  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);

}
.nav-links .dropmenu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.nav-links  li:hover .dropmenu {
  transition: all 0.3s ease;
  top: 50px;
  opacity: 1;
  visibility: visible;
}
/* dropdownmenu1*/
.nav-links .dropmenu1 {
  position: absolute;
  background: rgb(240, 143, 17);
  width: 180px;
  line-height: 45px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);

}
.nav-links .dropmenu1 li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.nav-links  li:hover .dropmenu1 {
  transition: all 0.3s ease;
  top: 50px;
  opacity: 1;
  visibility: visible;
}
/*megamenu*/

.nav-links .megamenu .content{
  
  position: absolute;
  background:rgb(240, 143, 17);
  visibility: hidden;
  opacity: 0;
  width: 30cm;
  margin-right: -230px;
  margin-top: -1px;
  right: 290px;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
}
.nav-links li:hover .megamenu .content  {
 visibility: visible;
  opacity: 1;
}
.content .row {
  width: calc(25%-30px);
  line-height: 25px;
}
.content .row img{
  margin-left: -10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row .megalinks{
  margin-left: -9px;
  border-left: 5px solid rgba(0, 0, 0, 0.377);
}
.row .megalinks {
  padding: 10px 20px;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color:rgb(182, 113, 24);;
  margin: 5px;
  transition: all 0.3s ease;
  
}

@media screen and (max-width:1224px){
  .nav-links{width: 40%;}
}

/*@media screen and (max-width:290px){
  .nav-links{position:absolute;
    right: 0px;
    top :8vh;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

  }
}*/



.gallery{
  display: flex;
  width: 100%;
  
  justify-content: space-evenly;
  
  
}
.img-containerfade{
  width:960px ;
  height:640px ;
  margin: 12px;
 
  padding:10px ;
  position: relative;
  display: flex;
  align-items:center;
  justify-content: center;
  transition: 0.6s ease-out;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

}
.img-containerfade:hover{
  transform: translateY(15px);
}
.img-containerfade:hover:before{
  opacity: 0;
}
.img-containerfade:hover .text{
  opacity: 1;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  transform: translateY(0);
}
.img-containerfade:before{
  content: '';
  position:absolute;
  top:0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
 
  transition: 0.5s;
  opacity: 1;
}
.img-containerfade img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  object-fit: cover;
}


.gallery1{
  display: flex;
  width: 100%;
  
  justify-content: space-evenly;
  
  
}
.img-banner{
  width:1980px ;
  height:1080px ;
  margin: 12px;
  
  padding:10px ;
  position: relative;
  display: flex;
  align-items:center;
  justify-content: center;
  transition: 0.3s ease-in;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

}
.img-banner:hover{
  transform: translateY(15px);
}
.img-banner:hover:before{
  opacity: 0;
}
.img-banner:hover .text{
  opacity: 1;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  transform: translateY(0);
}
.img-banner:before{
  content: '';
  position:absolute;
  top:0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
 
  transition: 0.5s;
  opacity: 1;
}
.img-banner img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  object-fit: cover;
}

.gallery3{
  display: flex;
  width: 100%;
  
  justify-content: space-evenly;
  
  
}
.img-containerfade1{
  width:960px ;
  height:640px ;
  margin: 12px;
 
  padding:10px ;
  position: relative;
  display: flex;
  align-items:center;
  justify-content: center;
  transition: 0.6s ease-out;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);

}
.img-containerfade1:hover{
  transform: translateY(15px);
}
.img-containerfade1:hover:before{
  opacity: 0;
}
.img-containerfade1:hover .text1{
  opacity: 1;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  transform: translateY(0);
}
.img-containerfade1:before{
  content: '';
  position:absolute;
  top:0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
 
  transition: 0.5s;
  opacity: 1;
}
.img-containerfade1 img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  object-fit: cover;
}


.burger{
  display: none;
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform:translateX(0px)
  }
}
.toggle .line1
{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2
{
  opacity: 0;
}
.toggle .line3
{
  transform: rotate(45deg) translate(-5px,-6px);
}
@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
    
  }
  .nav-links{position:absolute;
    right: 0px;
    top :8vh;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    

  }
  .nav-links .megamenu{
    opacity: 0;
    
  }
  .nav-links .dropmenu  {
    margin-left:-190px ;
    margin-top: -50px;
  }
  .nav-links .dropmenu1  {
    margin-left:-190px ;
    margin-top: -50px;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }

  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }

}
.nav-active{
  transform: translateX(0%);
}

/* footer */


footer{
position: relative;
bottom: 0px;
width: 100%;
background:#222222 ;
box-shadow: 200px;
}
.main-content{
  display: flex;

}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
  
}
.box h2{
  font-size: 1.125rem;
  padding: 20px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(230, 93, 93);

}
.box .contentt{
  margin: 20px 0 0 0;
background: #222222;
box-shadow: 200px;

}
.box .contentt .text{color: white;}
.left .contentt p{
  color: white;
}
.left .contentt .social{
  margin: 20px 0 0 0;
  background: #222222;
}
.left .contentt .social a{
  padding: 0 2px;
}
.left .contentt .social a span{
  height: 40px;
  width: 40px;
  background:  #f12020;
  line-height: 40px;
  text-align:center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s ease-in;
}
.left .contentt .social a span:hover{
  background: rgb(255, 161, 161);
}
.center .contentt .fas{
  font-size: 1.4375rem;
  background:  #f12020;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align:center;
  border-radius: 50%;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.center .contentt .fas.fas:hover{
  background:rgb(255, 161, 161);
}
.center .contentt .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;

}
.center .contentt .phone{
  margin: 10px 0;

}
.right  form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: white;
  padding-left: 10px;
  border-radius: 1px solid #222222;
}
.right form .text{
  color: #656565;
}
.right form input:focus
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;

}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.btn  button{
  color:white;
}


@media screen and (min-width:2600px){

  .nav-links{
    display: flex;
    background-color:rgb(240, 143, 17);
    justify-content: space-around;
    width: 50%;
    height: 200px;
    
    
    z-index: 999;
  }
  .nav-links li{
    list-style: none;
  }
  .nav-links a{
    color:white;
    text-decoration: none;
    letter-spacing: 6px;
    font-weight: 900;
    font-size: 100px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links li a:hover{
    background-color:rgb(145, 98, 37);
  }
  /* dropdownmenu1*/
  .nav-links .dropmenu {
    position: absolute;
    background: rgb(240, 143, 17);;
    width: 580px;
    line-height: 215px;
    
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  
  }
  .nav-links .dropmenu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
  }
  .nav-links  li:hover .dropmenu {
    transition: all 0.3s ease;
    top: 200px;
    opacity: 1;
    visibility: visible;
  }
  /* dropdownmenu1*/
  .nav-links .dropmenu1 {
    position: absolute;
    background: rgb(240, 143, 17);;
    width: 580px;
    line-height: 215px;
    
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  
  }
  .nav-links .dropmenu1 li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
  }
  .nav-links  li:hover .dropmenu1 {
    transition: all 0.3s ease;
    top: 200px;
    opacity: 1;
    visibility: visible;
  }
  /*megamenu*/
  
  .nav-links .megamenu .content{
    
    position: absolute;
    background:rgb(240, 143, 17);
    visibility: hidden;
    opacity: 0;
    width: 3300px;
    margin-right: 2130px;
    margin-top: -1px;
    right: 290px;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
  }
  .nav-links li:hover .megamenu .content  {
   visibility: visible;
    opacity: 1;
  }
  .content .row {
    width: calc(25%-30px);
    line-height: 60px;
    font-size: 50px;
  }
  .content .row img{
    margin-left: -10px;
    width: 700px;
    height: auto; 
    object-fit: cover;
  }
  .content .row .megalinks{
    margin-left: -9px;
    border-left: 5px solid rgba(0, 0, 0, 0.377);
  }
  .row .megalinks {
    padding: 10px 20px;
  }
  .burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(182, 113, 24);;
    margin: 5px;
    transition: all 0.3s ease;
    
  }





  
  .gallery{
    display: flex;
    width: 100%;
    
    justify-content: space-evenly;
    
    
  }
  .img-containerfade{
    width:100% ;
    height:80vh ;
    margin: 12px;
    padding:10px ;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: 0.6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  
  }
  .img-containerfade:hover{
    transform: translateY(15px);
  }
  .img-containerfade:hover:before{
    opacity: 0;
  }
  .img-containerfade:hover .text{
    opacity: 1;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 90px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    transform: translateY(0);
  }
  .img-containerfade:before{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
   
    transition: 0.5s;
    opacity: 1;
  }
  .img-containerfade img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    object-fit: cover;
  }
  
  
  .gallery1{
    display: flex;
    width: 100%;
    
    justify-content: space-evenly;
    
    
  }
  .img-banner{
    width:100% ;
    height:80vh ;
    margin: 12px;
    padding:10px ;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: 0.6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  
  }
  .img-banner:hover{
    transform: translateY(15px);
  }
  .img-banner:hover:before{
    opacity: 0;
  }
  .img-banner:hover .text{
    opacity: 1;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 90px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    transform: translateY(0);
  }
  .img-banner:before{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
   
    transition: 0.5s;
    opacity: 1;
  }
  .img-banner img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    object-fit: cover;
  }
  
  .gallery3{
    display: flex;
    width: 100%;
    
    justify-content: space-evenly;
    
    
  }
  .img-containerfade1{
    width:100% ;
    height:80vh ;
    margin: 12px;
    padding:10px ;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: 0.6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  
  }
  .img-containerfade1:hover{
    transform: translateY(15px);
  }
  .img-containerfade1:hover:before{
    opacity: 0;
  }
  .img-containerfade1:hover .text1{
    opacity: 1;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 90px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    transform: translateY(0);
  }
  .img-containerfade1:before{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
   
    transition: 0.5s;
    opacity: 1;
  }
  .img-containerfade1 img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    object-fit: cover;
  }

  footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background:#222222 ;
    box-shadow: 200px;
    }
    .main-content{
      display: flex;
    
    }
    .main-content .box{
      flex-basis: 50%;
      padding: 10px 20px;
      
    }
    .box h2{
      font-size: 90px;
      padding: 50px;
      font-weight: 800;
      text-transform: uppercase;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgb(230, 93, 93);
    
    }
    .box .contentt{
      margin: 20px 0 0 0;
    background: #222222;
    box-shadow: 200px;
   
 
    }
    .box .contentt .text{color: white;}
    .left .contentt p{
      color: white;
      font-size: 90px;
    }
    .left .contentt .social{
      margin: 20px 0 0 0;
      background: #222222;
    }
    .left .contentt .social a{
      padding: 0 20px;
    }
    .left .contentt .social a span{
      height: 100px;
      width: 100px;
      background:  #f12020;
      line-height: 100px;
      text-align:center;
      font-size: 70px;
      border-radius: 5px;
      transition: 0.3s ease-in;
    }
    .left .contentt .social a span:hover{
      background: rgb(255, 161, 161);
    }
    .center .contentt .fas{
      font-size:60px;
      background:  #f12020;
      height: 100px;
      width: 100px;
      line-height: 100px;
      text-align:center;
      border-radius: 50%;
      transition: 0.3s ease-out;
      cursor: pointer;
    }
    .center .contentt .fas.fas:hover{
      background:rgb(255, 161, 161);
    }
    .center .contentt .text{
      font-size: 60px;
      font-weight: 500;
      padding-left: 50px;
    
    }
    .center .contentt .phone{
      margin: 50px 0;
    
    }
    .right  form .msg{
      margin-top: 10px;
    }
    .right form input, .right form textarea{
      width: 100%;
      font-size: 100px;
      background: white;
      padding-left: 10px;
      border-radius: 1px solid #222222;
    }
    .right form .text{
      color: #656565;
    }
    .right form input:focus
    .right form textarea:focus{
      outline-color: #3498db;
    }
    .right form input{
      height: 100px;
    
    }
    .right form .btn{
      margin-top: 10px;
    }
    .right form .btn button{
      height: 120px;
      width: 100%;
      border: none;
      outline: none;
      background: #f12020;
      font-size: 100px;
      font-weight: 500;
      cursor: pointer;
      transition: .3s;
    }
    .right form .btn button:hover{
      background: #000;
    }
    .btn  button{
      color:white;
    }


}
.nav-active{
  transform: translateX(0%);
}