<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Coralis.ro</title>
</head>
<body>
    <nav>
        <div class="logo">
          
        </div>
        <ul class="nav-links">
          <li><a href="index">Home</a></li>
          <li ><a href="#about">About</a></li>
          <li>
            <a href="freshwater">Freshwater</a>
            <ul class="dropmenu">
              <li><a href="freshwater#f">Fish</a></li>
              <li><a href="freshwater#ff">Food</a></li>
              <li><a href="freshwater#p">Plants</a></li>
              <li><a href="freshwater">Products</a></li>
            </ul>
          </li>
          <li>
            <a href="saltwater">Saltwater</a>
            <ul class="dropmenu1">
              <li><a href="saltwater#f">Fish</a></li>
              <li><a href="saltwater#ff">Food</a></li>
              <li><a href="saltwater#p">Plants</a></li>
              <li><a href="saltwater">Products</a></li>
            </ul>
          </li>
          <li><a href="accessories">SHOP</a></li>
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
      <section class="showcase">
          <div class="video-container">
            <video src="media/DAAAA.mp4" autoplay loop></video>
          </div>
          <div class="content">
            <h1>AquaScape is the best Escape</h1>
            <h3>Eat sleep Aquascape repeat</h3>
            <a href="#about" class="btn">Read More</a>
          </div>
      </section>
      <section id="fishdisplay">
        <h1 id="f">Always in stock</h1>
        <div class="gallery">
          <div class="img-containerfade">
              <img src="media/discus.jpg" alt="Discus"/> 
              <div class="text">
              <h2> Discus</h2>
              <p>Form of presentation: 6 cm. Semi-aggressive.</p>
              <a href="#">
                <p>read more</p>
              </a>
              </div>
          </div>
        <div class="img-containerfade">
              <img src="media/oscar.jpg" alt="Oscar"/>
              <div class="text">
                <h2> Oscar</h2>
                <p>Form of presentation: 40 cm. Semi-aggressive.</p>
                <a href="https://en.wikipedia.org/wiki/Oscar_(fish)" target="_blank">
                  <p>read more</p>
                </a>
              </div>
        </div>
        <div class="img-containerfade">
            <img src="media/freshpreview.jpg" alt="Angelfish"/>
            <div class="text">
              <h2> Angelfish</h2>
              <p>Form of presentation: 10 cm. Semi-aggressive.</p>
              <a href="#">
                <p>read more</p>
              </a>
            </div>     
        </div>
      </div>
      
      <div class="gallery">
      
        <div class="img-containerfade">
            <img src="media/flowerhorn-cichlid-1.jpg" alt="Discus"/> 
            <div class="text">
              <h2> Flowerhorn </h2>
              <p>Form of presentation: 50 cm. Semi-aggressive.</p>
              <a href="#">
                <p>read more</p>
              </a>
            </div>
        </div>
        <div class="img-containerfade">
            <img src="media/Neonsalmler_Paracheirodon_innesi.jpg" alt="Oscar"/>
            <div class="text">
              <h2> Neon Tetra</h2>
              <p>Form of presentation: 3 cm. Peaceful.</p>
              <a href="#">
                <p>read more</p>
              </a>
            </div>
        </div>
        <div class="img-containerfade">
            <img src="media/killifish.jpg" alt="Angelfish"/>
            <div class="text">
              <h2> Killi</h2>
              <p>Form of presentation:: ~5 cm. Semi-aggressive.</p>
              <a href="#">
               <p>read more</p>
              </a>
            </div>      
        </div>
      
      </div>
      <div class="gallery">
        <div class="img-containerfade">
            <img src="media/goldenfish.jpg" alt="Discus"/> 
            <div class="text">
              <h2> GoldFish </h2>
              <p>Form of presentation: 40 cm(adult). Peaceful.</p>
              <a href="#">
                <p>read more</p>
              </a>
            </div>
        </div>
        <div class="img-containerfade">
            <img src="media/koi.jpg" alt="Oscar"/>
            <div class="text">
              <h2> Carpio Koi</h2>
              <p>Form of presentation: 20-100 cm. Peaceful.</p>
              <a href="#">
                <p>read more</p>
              </a>
            </div>
        </div>
        <div class="img-containerfade">
            <img src="media/betta.jpg" alt="Angelfish"/>
            <div class="text">
              <h2> Betta</h2>
              <p>Form of presentation: ~7 cm.  Aggressive.</p>
              <a href="#">
                <p>read more</p>
              </a>
            </div>     
        
          
        </div>
      </div>
    </section>
<section id="another">
  <div class="presentation">
    <div class="presentationcontainer">
      <img src="media/betta1.jpg" alt="Angelfish"/>
      <div class="textt">
        <h2> Betta</h2>
          <p>Form of presentation: ~7 cm.  <b>Aggressive</b>. </p>
          <p>Varieties bred of Siamese fighting fish is the most well-known and the most widespread in central plain of Thailand.Their famously vibrant colours, large and flowy fins, and aggressive behaviour are the result of generations of intensive 
            artificial selection, for which they are sometimes known as "designer fish of the aquatic world".</p>
          <h3>Diet</h3>
          <p>Betta splendens is naturally carnivorous, feeding on zooplankton, small crustaceans, and the larvae of aquatic insects such as mosquitoes. Contrary to some marketing materials in the pet trade, bettas <b>cannot</b> subsist solely on vegetation or the roots of plants.
          Bettas can be fed a varied diet of <b>pellets</b>, <b>flakes</b>, or frozen foods like <b>brine shrimp</b>, <b>bloodworms</b>, <b>daphnia</b> and many others. Due to their short digestive tracts—a characteristic of most carnivores—bettas have difficulty processing carbohydrates such as corn and wheat, which are commonly used as fillers in many commercial fish foods.
           Bettas are susceptible to overfeeding, which can lead to obesity, constipation, swim bladder disease, and other health problems.
          </p>
      </div>
    </div>     
  </div>
</section>

<section id="plantiezz">
  <h2 id="p">Best Buy / Easy to keep</h2>
  <div class="gal">
    <div class="gal-content">
      <img src="media/p1.jpg" alt="">
      <div class="script">
        <p>Tropica Vallisneria</p>
      </div>
    </div>
   
    <div class="gal-content">
      <img src="media/p2.jpg" alt="">
      <div class="script">
        <p>Dennerle Egeria</p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/p3.jpg" alt="">
      <div class="script">
        <p>Dennerle Myriophyllum</p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/yey.jpg" alt="">
      <div class="script">
        <p>Dennerle Cryptocoryne</p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/poate.jpeg" alt="">
      <div class="script">
        <p>Ludwigia Super Red</p>
      </div>
    </div>
  </div>
  <div class="gal">
   
    <div class="gal-content">
      <img src="media/photos.jpg" alt="">
      <div class="script">
        <p>Pothos</p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/moss.jpg" alt="">
      <div class="script">
        <p>Utricularia Graminifolia</p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/duckweed.jpg" alt="">
      <div class="script">
        <p>Duckweed</p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/ball.png" alt="">
      <div class="script">
        <p>Moss Balls</p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/p4o.jpg" alt="">
      <div class="script">
        <p>Aquaflora Anubias</p>
      </div>
    </div>
  </div>
</section>

<section id="fishfood">
  <div class="DA">
    <h1 id="ff">Premium Fish Food ADA</h1>
  </div>
  <div class="fish-content">
    <img src="media/adafood.jpg" alt="">
  </div>
</section>

<section id="about">
  <h1>Our Quality</h1>
  <p>Ca sa atingem aceasta fericire pura, ne bucuram sa avem aici de unde sa ne alegem prietenii dintre cele peste 1000 de specii de pesti de acvariu de apa dulce si sarata, pesti ce pot fi comandati online si livrati acasa in conditii de siguranta si cu garantie 100% a supravietuirii.
  </p>
</section>


    <footer>
      <div class="main-content">
        <div class="left box">
          <h2>About Us</h2>
          <div class="contentt">
            <p>Ca sa atingem aceasta fericire pura, ne bucuram sa avem aici de unde sa ne alegem prietenii dintre cele peste 1000 de specii de pesti de acvariu de apa dulce si sarata, pesti ce pot fi comandati online si livrati acasa in conditii de siguranta si cu garantie 100% a supravietuirii.</p>
            <div class="social">
              <a href="#"><span class="fab fa-facebook-f"></span></a>
              <a href="#"><span class="fab fa-instagram"></span></a>
              <a href="#"><span class="fab fa-youtube"></span></a>
            </div>
          </div>
        </div>
      <div class="center box">
        <h2>Adress</h2>
        <div class="contentt">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="textz">Bucuresti, Sector 6 Strada Poiana Muntelui</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="textz">+40291.540.320</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="textz">coralis@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="right box">
        <h2>Contact Us</h2>
        <div class="contentt">
          <form action="#">
            <div class="email">
              <div class="text">Email *</div>
              <input type="email" required>
            </div>
            <div class="msg">
              <div class="text">Message *</div>
              <textarea rows="2"  cols="25" required></textarea>
            </div>
            <div class="btn">
              <button type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
      </div>
    </footer>
   
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>