<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="css/style100.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>coralis.ro</title>
</head>

  <body>
    <nav>
      <div class="logo">
        <img src="media/final.jpg" alt="">
      </div>
      <ul class="nav-links">
        <li><a href="index">Home</a></li>
        <li ><a href="#">About</a>
          <div class="megamenu">
            <div class="content">
              <div class="row">
                <img src="media/nemo.jpg" alt="">
              </div>
            <div class="row">
              <ul class="megalinks">
                <li>
                  <p>Daca te afli aici atunci sigur ai tinut pesti de acvariu de cand ai fost mic. Ne amintim cu drag cum ne opream in fiecare zi in drumul de la scoala spre casa la magazinul cu pesti de acvariu sau cum cautam in targuri si piete pesti de acvariu de vanzare. Eram cu totii nebuni dupa ei.</p>
                </li>
              </ul>
            </div>
            <div class="row">
              <ul class="megalinks">
                <li>
                  <p>Cu timpul ne-am maturizat, ne-am mai informat si dragostea noastra pentru pestii de acvariu s-a transformat intr-o fuga pentru a le oferi cele mai bune conditii de viata.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        </li>

        <li>
          <a href="freshwater">Freshwater</a>
          <ul class="dropmenu">
            <li><a href="freshwater#f">Fish</a></li>
            <li><a href="freshwater#ff">Food</a></li>
            <li><a href="freshwater#p">Plants</a></li>
            <li><a href="freshwater">Products</a></li>
          </ul>
        </li>
        <li>
          <a href="saltwater">Saltwater</a>
          <ul class="dropmenu1">
            <li><a href="saltwater#f">Fish</a></li>
            <li><a href="saltwater#ff">Food</a></li>
            <li><a href="saltwater#p">Plants</a></li>
            <li><a href="saltwater">Products</a></li>
          </ul>
        </li>
        <li><a href="accessories">SHOP</a></li>
        
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <div class="slide-container">
        <div class="img-slider">
            <div class="slide active">
                <img src="media/s1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="media/s2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="media/s3.jpg" alt="">
            </div>
            <div class="navigation">
                <div class="btn active"></div>
                <div class="btn"></div>
                <div class="btn"></div>
            </div>
        </div>
    </div>
    
    <div class="gallery3">
        <div class="img-containerfade1">
          <a href="login#p">
            <img src="media/filter.jpg" alt="filter"/>
          </a>
          <div class="text1">
            
            <h1>FILTERS</H1>
          </div>
        </div>
        <div class="img-containerfade1">
            <a href="saltwater.html#p">
              <img src="media/heater.jpg" alt="Chelmon rostratus"/>
            </a>
          <div class="text1">
            
            <h1>HEATERS</h1>
          </div>
        </div>
      </div>
      <div class="gallery3">
        <div class="img-containerfade1">
          <a href="freshwater.html#p">
            <img src="media/lights.jpg" alt="Scalar"/>
          </a>
          <div class="text1">
            
            <h1>LIGHTS</H1>
          </div>
        </div>
        <div class="img-containerfade1">
            <a href="saltwater.html#p">
              <img src="media/filterpads.jpg" alt="Chelmon rostratus"/>
            </a>
          <div class="text1">
            
            <h1>FILTER MEDIA</h1>
          </div>
        </div>
      </div>
      <div class="gallery3">
        <div class="img-containerfade1">
          <a href="freshwater.html#p">
            <img src="media/pump.jpg" alt="Scalar"/>
          </a>
          <div class="text1">
        
            <h1>PUMPS</H1>
          </div>
        </div>
        <div class="img-containerfade1">
            <a href="saltwater.html#p">
              <img src="media/watertreat.jpg" alt="Chelmon rostratus"/>
            </a>
          <div class="text1">
          
            <h1>WATER TREATMENT</h1>
          </div>
        </div>
      </div>
      

    </section>
    <footer>
      <div class="main-content">
        <div class="left box">
          <h2>About Us</h2>
          <div class="contentt">
            <p>Ca sa atingem aceasta fericire pura, ne bucuram sa avem aici de unde sa ne alegem prietenii dintre cele peste 1000 de specii de pesti de acvariu de apa dulce si sarata, pesti ce pot fi comandati online si livrati acasa in conditii de siguranta si cu garantie 100% a supravietuirii.</p>
            <div class="social">
              <a href="#"><span class="fab fa-facebook-f"></span></a>
              <a href="#"><span class="fab fa-instagram"></span></a>
              <a href="#"><span class="fab fa-youtube"></span></a>
            </div>
          </div>
        </div>
      <div class="center box">
        <h2>Adress</h2>
        <div class="contentt">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">Bucuresti, Sector 6 Strada Poiana Muntelui</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">+40291.540.320</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">coralis@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="right box">
        <h2>Contact Us</h2>
        <div class="contentt">
          <form action="#">
            <div class="email">
              <div class="text">Email *</div>
              <input type="email" required>
            </div>
            <div class="msg">
              <div class="text">Message *</div>
              <textarea rows="2"  cols="25" required></textarea>
            </div>
            <div class="btn">
              <button type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
      </div>
    </footer>
    <script type="text/javascript" src="js/main.js"></script>
    </body>
    </html>