<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Coralis.ro</title>
</head>
<body>
    <nav>
        <div class="logo">
          
        </div>
        <ul class="nav-links">
          <li><a href="index">Home</a></li>
          <li ><a href="#about">About</a>
          
          </li>
  
          <li>
            <a href="freshwater">Freshwater</a>
            <ul class="dropmenu">
              <li><a href="freshwater#f">Fish</a></li>
              <li><a href="freshwater#ff">Food</a></li>
              <li><a href="freshwater#p">Plants</a></li>
              <li><a href="freshwater">Products</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Saltwater</a>
            <ul class="dropmenu1">
              <li><a href="saltwater#f">Fish</a></li>
              <li><a href="saltwater#ff">Food</a></li>
              <li><a href="saltwater">Plants</a></li>
              <li><a href="saltwater">Products</a></li>
            </ul>
          </li>
          <li><a href="accessories">SHOP</a></li>
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>
    <section class="showcase">
        <div class="video-container">
            <video src="media/acvadas.mp4" autoplay loop></video>
        </div>
        <div class="content">
            <h1>AquaScape is the best Escape</h1>
            <h3>Eat sleep Aquascape repeat</h3>
            <a href="#about" class="btn">Read More</a>
        </div>
    </section>
    <section id="fishdisplay">
      <h1 id="f">Always in stock</h1>
      <div class="gallery">
      
        <div class="img-containerfade">
            <img src="media/salt2f.jpg" alt="Discus"/> 
            <div class="text">
            <h2> Zebrasoma</h2>
            <p>Form of presentation: 20 cm. Peaceful.</p>
            <a href="#">
            <p>read more</p>
          </a>
          </div>
        </div>
        <div class="img-containerfade">
          
            <img src="media/salt3f.jpg" alt="Oscar"/>
            <div class="text">
            <h2> Heniochus</h2>
            <p>Form of presentation: 25 cm. Peaceful.</p>
            <a href="#">
              <p>read more</p>
            </a>
          </div>
        </div>
          <div class="img-containerfade">
          
            <img src="media/sal1f.jpg" alt="Angelfish"/>
            <div class="text">
            <h2> Pygoplites</h2>
            <p>Form of presentation: 25 cm. Peaceful.</p>
            <a href="#">
              <p>read more</p>
            </a>
          </div>     
        
          
      </div>
      
  
  
      </div>
      
      <div class="gallery">
      
        <div class="img-containerfade">
            <img src="media/salt4f.jpg" alt="Discus"/> 
            <div class="text">
            <h2> Acanthurus </h2>
            <p>Form of presentation: 38 cm. Semi-aggressive.</p>
            <a href="#">
              <p>read more</p>
            </a>
          </div>
        </div>
        <div class="img-containerfade">
          
            <img src="media/salt5f.jpg" alt="Oscar"/>
            <div class="text">
            <h2> Longnose hawkfish</h2>
            <p>Form of presentation: 13 cm. Peaceful.</p>
            <a href="#">
              <p>read more</p>
            </a>
          </div>
        </div>
          <div class="img-containerfade">
          
            <img src="media/salt6f.jpg" alt="Angelfish"/>
            <div class="text">
            <h2> Tailbar Lionfish</h2>
            <p>Form of presentation:: 25 cm. Semi-aggressive.</p>
            <a href="#">
              <p>read more</p>
            </a>
          </div>     
        
          
      </div>
      
      </div>
      <div class="gallery">
      
        <div class="img-containerfade">
            <img src="media/rez.jpg" alt="Discus"/> 
            <div class="text">
            <h2> Mandarin Fish </h2>
            <p>Form of presentation: 7 cm. Peaceful.</p>
            <a href="#">
              <p>read more</p>
            </a>
          </div>
        </div>
        <div class="img-containerfade">
          
            <img src="media/incercare.jpg" alt="Oscar"/>
            <div class="text">
            <h2> Pomacanthus imperator</h2>
            <p>Form of presentation: 35 cm. Peaceful.</p>
            <a href="#">
              <p>read more</p>
            </a>
          </div>
        </div>
          <div class="img-containerfade">
          
            <img src="media/nemofish1.jpg" alt="Angelfish"/>
            <div class="text">
            <h2> Clown Fish</h2>
            <p>Form of presentation: ~7 cm.  Peaceful.</p>
            <a href="#">
              <p>read more</p>
            </a>
          </div>     
        
          
      </div>
      </div>
    </section>
<section id="another">
  <div class="presentation">
    <div class="presentationcontainer">
  <img src="media/mandarin.jpg" alt="Angelfish"/>
  <div class="textt">
  <h2> Mandarin Fish</h2>
  <p>Form of presentation: ~7 cm.  <b>Peaceful</b>. </p>
  <p>S. splendidus is one of only two vertebrate species known to have blue colouring because of cellular pigment, the other being the closely related psychedelic mandarin (S. picturatus). The name "cyanophore" was proposed for the blue chromatophores, or pigment-containing and light-reflecting cells. In all other known cases, the colour blue is structural, as it comes from thin-film interference from piles of flat, thin and reflecting purine crystals.</p>
  <h3>Diet</h3>
  <p>Based on the gut analyses of seven wild fish Sadovy et al. (2001) determined that the mandarinfish has a mixed diet that consists of harpacticoid copepods, polychaete worms, small gastropods, gammaridean amphipods, fish eggs and ostracods. In the wild, feeding is continuous during daytime; the fish peck selectively at small prey trapped on coral substrate in a home range of many square meters.
  </p>
</div>
</div>     
</div>
</section>



<section id="plantiezz">
  <h2 id="p">Best Buy / Easy to keep</h2>
  <div class="gal">
    <div class="gal-content">
      <img src="media/coral.jpg" alt="">
      <div class="script">
        <p>Coral Rhodactis</p>
      </div>
    </div>
   
    <div class="gal-content">
      <img src="media/coral1s.jpg" alt="">
      <div class="script">
        <p>Ricordea florida</p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/coral2.jpg" alt="">
      <div class="script">
        <p>Rhodactis osculifera</p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/coral3.jpg" alt="">
      <div class="script">
        <p>Coral Anthelia</p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/coral4.jpg" alt="">
      <div class="script">
        <p>Capnella</p>
      </div>
    </div>
  </div>
  <div class="gal">
   
    <div class="gal-content">
      <img src="media/coral5.jpg" alt="">
      <div class="script">
        <p>Physogyra lichtensteini</p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/coral6.jpg" alt="">
      <div class="script">
        <p>Tubipora Musica</p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/coral7.jpg" alt="">
      <div class="script">
        <p>Anemona Heteractis </p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/coral8.jpg" alt="">
      <div class="script">
        <p>Zoanthus</p>
      </div>
    </div>
    <div class="gal-content">
      <img src="media/coral9.jpg" alt="">
      <div class="script">
        <p>Ricordea florida</p>
      </div>
    </div>
  </div>
</section>

<section id="fishfood">
  <div class="DA">
    <h1 id="ff">Premium Fish Food ADA</h1>
  </div>
  <div class="fish-content">
    <img src="media/adafood.jpg" alt="">
  </div>
</section>

    <section id="about">
        <h1>Our Quality</h1>
        <p>Ca sa atingem aceasta fericire pura, ne bucuram sa avem aici de unde sa ne alegem prietenii dintre cele peste 1000 de specii de pesti de acvariu de apa dulce si sarata, pesti ce pot fi comandati online si livrati acasa in conditii de siguranta si cu garantie 100% a supravietuirii.
        </p>
    </section>
    <footer>
      <div class="main-content">
        <div class="left box">
          <h2>About Us</h2>
          <div class="contentt">
            <p>Ca sa atingem aceasta fericire pura, ne bucuram sa avem aici de unde sa ne alegem prietenii dintre cele peste 1000 de specii de pesti de acvariu de apa dulce si sarata, pesti ce pot fi comandati online si livrati acasa in conditii de siguranta si cu garantie 100% a supravietuirii.</p>
            <div class="social">
              <a href="#"><span class="fab fa-facebook-f"></span></a>
              <a href="#"><span class="fab fa-instagram"></span></a>
              <a href="#"><span class="fab fa-youtube"></span></a>
            </div>
          </div>
        </div>
      <div class="center box">
        <h2>Adress</h2>
        <div class="contentt">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="textz">Bucuresti, Sector 6 Strada Poiana Muntelui</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="textz">+40291.540.320</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="textz">coralis@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="right box">
        <h2>Contact Us</h2>
        <div class="contentt">
          <form action="#">
            <div class="email">
              <div class="text">Email *</div>
              <input type="email" required>
            </div>
            <div class="msg">
              <div class="text">Message *</div>
              <textarea rows="2"  cols="25" required></textarea>
            </div>
            <div class="btn">
              <button type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
      </div>
    </footer>
   
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>